
<mat-table #table [dataSource]="dataSource">

   
    <ng-container matColumnDef="book_id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.book_id}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="book_name">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let book">
          {{ book.book_name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image_Url">
      <mat-header-cell *matHeaderCellDef> Cover </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <img class="image" src="{{book.image_Url}} " />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="issuedDateTime">
      <mat-header-cell *matHeaderCellDef> Issed Date </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.issuedDateTime | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="renewDateTime">
      <mat-header-cell *matHeaderCellDef> Renew Date </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.renewDateTime | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="return">
      <mat-header-cell *matHeaderCellDef> Return </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button *ngIf="book.issued"  mat-raised-button color="primary"  (click)="return(book)">Return</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="renew">
      <mat-header-cell *matHeaderCellDef> Renew </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button  mat-raised-button color="primary" (click)="renew(book,book.renewDateTime)" >Renew</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
